{% extends 'base.html.twig' %}
{%block body %}

 <div class="card shadow-sm">
 <div class="form-group d-flex">
<a type="submit" href="{{path('categroy_create')}}" class="add btn btn-primary todo-list-add-btn m-4" id="add-task">Add New Category</a>
</div>
    <div class="card-body">
   <table id="example" class="display mt-4" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
    </table>
    <script>
    $(document).ready(function() {
            $('#example').DataTable({
                "serverSide": true,
                "ajax": "{{path('category_data')}}",
                "columns" : [
                    { data: 'id' },
                    { data: 'Name' },
                    { data: 'Description'},
                    { data: 'actions', orderable: false, searchable: false }
                ],
                "order": [[0, 'asc']],
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
 {% block javascripts %}

{% endblock %}
{% endblock  %}